@font-face {
  src: url(/fonts/WebAkharThick.ttf);
  font-family: gurbani;
}

@font-face {
  src: url(/fonts/AxeHandel.ttf);
  font-family: axe;
}

body, .rssapp-list-container {
  /* background-color: #8cb8fe21; */
  background-image: url(/imgs/bg.png) !important;
}

.bg-gkmrhk {
  background-color: #3884ff;
}

.navbar-brand {
  font-family: "axe";
  font-size: 3.5em;
}

.welcome {
  font-family: "Anton";
  font-size: 2.25em;
}

.nav-link {
  color: #3884ffa1 !important;
  font-family: "Anton";
  font-size: 1.5em;
}

.active,
.nav-link:hover,
.active:hover,
.navbar-brand,
.text-primary {
  color: #3884ff !important;
}

.cssgrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.cssgrid2 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 3fr;
  grid-gap: 1.5rem;
}

.facebook, .soundcloud, .instagram, .youtube {
  font-size: 2.5rem;
  color: #fff !important;
}

.list-group-item .facebook, .list-group-item .soundcloud, .list-group-item .instagram, .list-group-item .youtube {
  font-size: 2rem;
  color: #000000 !important;
  text-decoration: none;
}

#map-canvas {
  width: 100%;
  height: 50vh;
  max-width:100%;
}

select, option {
font-size: 1rem;
padding: 5px;
height: 2.5rem;
width:100%;
max-width:100%;
}

.display-6 {
font-size: 1.4rem;
font-weight: 450;
}

.list-group-item {
  background-color: transparent !important;
}